<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-06-24T16:00:00Z</date>
		<key>Minutes</key>
		<integer>30</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-06-26T16:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-19T16:00:00Z</date>
		<key>Minutes</key>
		<integer>25</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-27T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-30T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-31T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-31T17:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-31T18:00:00Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-07-31T19:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-01T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-01T17:00:00Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-01T18:00:00Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-02T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-02T17:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-03T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-03T17:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-05T16:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-05T17:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-05T18:00:00Z</date>
		<key>Minutes</key>
		<integer>30</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<true/>
		<key>Date</key>
		<date>2012-08-05T19:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<true/>
		<key>Date</key>
		<date>2012-08-05T20:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<true/>
		<key>Date</key>
		<date>2012-08-05T21:00:00Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-06T16:00:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-06T17:00:00Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-07T13:00:56Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-07T19:01:43Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-07T19:56:34Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-07T19:56:35Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-07T19:56:37Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-08T01:54:00Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-08T01:54:23Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-08T16:25:31Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-08T19:19:33Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-08T19:19:36Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T01:40:38Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T01:40:41Z</date>
		<key>Minutes</key>
		<integer>5</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T01:40:44Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T12:58:52Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T17:33:26Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T17:33:27Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T23:43:23Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-09T23:43:26Z</date>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-10T00:51:23Z</date>
		<key>Minutes</key>
		<integer>20</integer>
		<key>Night</key>
		<true/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-10T17:24:59Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-10T17:47:25Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
	<dict>
		<key>BadWeather</key>
		<false/>
		<key>Date</key>
		<date>2012-08-10T17:47:26Z</date>
		<key>Minutes</key>
		<integer>10</integer>
		<key>Night</key>
		<false/>
	</dict>
</array>
</plist>
