<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>United States</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Alabama</string>
			<key>TotalRequired</key>
			<integer>30</integer>
			<key>NightRequired</key>
			<integer>0</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Alaska</string>
			<key>TotalRequired</key>
			<integer>40</integer>
			<key>NightRequired</key>
			<integer>0</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
			<key>CombinedRequired</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Arizona</string>
			<key>TotalRequired</key>
			<integer>30</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>California</string>
			<key>TotalRequired</key>
			<integer>50</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Colorado</string>
			<key>TotalRequired</key>
			<integer>50</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Connecticut</string>
			<key>TotalRequired</key>
			<integer>40</integer>
			<key>NightRequired</key>
			<integer>0</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Delaware</string>
			<key>TotalRequired</key>
			<integer>50</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>District of Columbia</string>
			<key>TotalRequired</key>
			<integer>40</integer>
			<key>NightRequired</key>
			<integer>0</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Florida</string>
			<key>TotalRequired</key>
			<integer>50</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Georgia</string>
			<key>TotalRequired</key>
			<integer>40</integer>
			<key>NightRequired</key>
			<integer>6</integer>
			<key>BadWeatherRequired</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Rest of the World</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Pennsylvania</string>
			<key>TotalRequired</key>
			<integer>65</integer>
			<key>NightRequired</key>
			<integer>10</integer>
			<key>BadWeatherRequired</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
